//*transitions:
//*default
.v-enter-active,
.v-leave-active {
	transition: all 0.3s ease;
}
.v-enter-from,
.v-leave-to {
	opacity: 0;
}

//*fade-left
.fade-left-enter-active,
.fade-left-leave-active {
	transition: all 0.35s ease;
}

.fade-left-enter-from,
.fade-left-leave-to {
	opacity: 0;
	transform: translateX(-5rem);
}

//*fade-left
.fade-up-enter-active,
.fade-up-leave-active {
	transition: all 0.35s ease;
}

.fade-up-enter-from,
.fade-up-leave-to {
	opacity: 0;
	transform: translatey(-5rem);
}
