:root {
  //Цвета определить в формате --ct-color
  --blue: #33b5e5;
  --green: #3fb777;
  --dark: #0f1137;
  --dark-02: rgba(57, 56, 56, 0.2);
  --white: #ffffff;
  --gray: #f7f7fa;

  // Базовый размер шрифта
  --text-base-size: 1.3rem;

  // Шкала типов
  --text-scale-ratio: 1.0885;
  --text-11: calc(var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio));
  --text-12: calc(var(--text-11) * var(--text-scale-ratio));
  --text-13: calc(var(--text-12) * var(--text-scale-ratio));
  --text-14: calc(var(--text-13) * var(--text-scale-ratio));
  --text-15: calc(var(--text-14) * var(--text-scale-ratio));
  --text-16: calc(var(--text-15) * var(--text-scale-ratio));
  --text-18: calc(var(--text-16) * var(--text-scale-ratio));
  --text-20: calc(var(--text-18) * var(--text-scale-ratio));
  --text-22: calc(var(--text-20) * var(--text-scale-ratio));
  --text-24: calc(var(--text-22) * var(--text-scale-ratio));
  --text-26: calc(var(--text-24) * var(--text-scale-ratio));
  --text-28: calc(var(--text-26) * var(--text-scale-ratio));
  --text-30: calc(var(--text-28) * var(--text-scale-ratio));
  --text-45: calc(var(--text-30) + var(--text-15));
  --text-32: calc(var(--text-30) * var(--text-scale-ratio));
  --text-34: calc(var(--text-32) * var(--text-scale-ratio));
  --text-36: calc(var(--text-34) * var(--text-scale-ratio));
  --text-85: calc((var(--text-20) * 2) + var(--text-45));
}

@media (min-width: 1025px) and (max-width: 1440px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --text-base-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  :root {
    --text-base-size: 1rem;
  }
}
