<footer class="footer wrapper">
  <a href="/" class="footer__logo"> Компасс ПРО </a>
  <ul class="footer__menu">
    <li class="footer__menu__item">
      <a href="#">Услуги</a>
    </li>
    <li class="footer__menu__item">
      <a href="#">Партнерство</a>
    </li>
    <li class="footer__menu__item">
      <a href="#">Обучение</a>
    </li>
    <li class="footer__menu__item">
      <a href="#">Написать письмо</a>
    </li>
  </ul>
  <a href="#" class="footer__messenger">
    <svg>
      <use xlink:href="./img/sprite.svg#messenger-dark"></use>
    </svg>
  </a>
  <hr>
  <div class="footer__copyright"> Создание и продвежение сайтов © 2017-2018 </div>
</footer>
