.about {
	&__content {
		height: 100%;
		padding: 10rem 0;
		display: grid;
		grid-template-columns: repeat(2, 48.6%);
		align-items: center;
		justify-content: start;
		justify-items: start;
		grid-gap: 3rem;
	}

	&__info {
		grid-column: 1/2;
		display: grid;
		grid-auto-flow: row;
		grid-gap: 4rem;

		&__title {
			grid-area: 1/1/2/2;
			font-weight: 900;
			font-size: var(--text-45);
			line-height: 5.6rem;
			text-transform: uppercase;
			position: relative;
			&::before {
				content: "";
				color: var(--dark);
				width: 7rem;
				height: 0.6rem;
				background-color: var(--dark);
				position: absolute;
				top: 0.6em;
				right: calc(100% + 2rem);
			}
		}
		&__description {
			font-weight: 250;
			font-size: var(--text-18);
			line-height: 2.8rem;
		}
		&__subtitle {
			font-weight: 500;
			font-size: var(--text-24);
			line-height: 2.8rem;
			color: var(--blue);
		}
	}
	&__advantages {
		grid-column: 2/3;
		height: calc(100% + 6rem);
		display: grid;
		grid-template: repeat(2, 50%) / repeat(2, 47%);
		align-items: start;
		column-gap: 3rem;

		.advantage {
			display: grid;
			grid-auto-flow: row;
			min-height: 26rem;
			background-color: var(--gray);
			row-gap: 1.5rem;
			padding: 3rem;
			border-radius: 1rem;
			transition: all 0.2s ease;

			&__icon {
				svg {
					width: 5rem;
					height: 5rem;
				}
			}
			&__title {
				font-weight: 500;
				font-size: var(--text-20);
				line-height: 2.1rem;
			}
			&__description {
				font-weight: 300;
				font-size: var(--text-14);
				line-height: 1.9rem;
			}

			&:nth-child(odd) {
				align-self: end;
			}
		}
	}
}
@media (max-width: 1024px) {
	.about {
		&__advantages {
			grid-template: repeat(4, 1fr) / 1fr;
			.advantage:nth-child(odd) {
				align-self: inherit;
			}
		}
		&__content {
			align-items: baseline;
		}
	}
}
@media (min-width: 768px) {
	.about {
		&__advantages {
			.advantage {
				&:hover {
					transform: scale(1.06);
					transition: all 0.2s ease;
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.about {
		&__advantages {
			grid-column: 1/2;
			grid-template: none;
			height: auto;
			.advantage {
				margin-bottom: 2rem;
				padding: 4rem;
			}
		}
		&__content {
			grid-template-columns: auto;
			padding: 7rem 0;
		}
		&__info {
			&__title {
				text-align: center;
			}

			&__subtitle {
				padding: 2rem;
			}

			&__description {
				padding: 2rem;
			}
		}
	}
}
