.home {
	height: 100vh;
	background: linear-gradient(139.29deg, #2b3c56 3.64%, #01132e 99.85%),
		linear-gradient(125.72deg, #33b5e5 22.62%, #377bdf 150.23%), #f7f7fa;
	position: relative;
	z-index: 0;
	#bg-canvas{
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
	}
	#canvas{
		width: 100%;
		height: 100%;
	}
	&::after {
		content: "";
		position: absolute;
		z-index: -10;
		background-image: url(/img/home-3.svg);
		background-position: right 0em bottom 0rem;
		background-repeat: no-repeat;

		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.home__button {
		@include btn_anim;
		@include button(var(--white), var(--blue));
	}

	.wrapper {
		height: 100%;
		display: grid;
		align-items: end;
	}

	&__content {
		height: 90%;
		display: grid;
		grid-auto-flow: row;
		align-content: center;
		justify-items: start;
		justify-content: start;
		grid-gap: 3rem;
	}

	&__title {
		font-weight: 900;
		font-size: var(--text-85);
		line-height: 10rem;
		color: var(--white);

		text-transform: uppercase;

		padding: 0.5em;

		border: 1rem solid var(--white);
	}
	&__description {
		font-weight: 500;
		font-size: var(--text-36);
		line-height: 4.9rem;
		color: var(--white);
	}

	&__button {
		@include btn_anim;
		@include button;
	}
}

@media screen and (max-width: 768px) {
	.home {
		&__title {
			font-size: var(--text-45);
			width: 100%;
			text-align: center;
		}
		&__description {
			text-align: center;
		}
	}
}
