<section class="about">
  <div class="wrapper">
    <div class="about__content">
      <div class="about__info">
        <h1 class="about__info__title">Об компании</h1>
        <span class="about__info__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
          несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык
          публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный
          универсальный код речей. Текст генерируется абзацами случайным образом </span>
        <i class="about__info__subtitle">Мы профилируемся на создании сложных систем и сервисов</i>
      </div>
      <div class="about__advantages">
        <div class="advantage">
          <i class="advantage__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#badge"></use>
            </svg>
          </i>
          <span class="advantage__title"> Качественная работа </span>
          <span class="advantage__description"> Профессиональный подход к каждому проекту и выполнению отдельных задач.
            Реализуем все идеи и сделаем Ваш бизнес доходным </span>
        </div>
        <div class="advantage">
          <i class="advantage__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#dollar-tag"></use>
            </svg>
          </i>
          <span class="advantage__title"> Цена </span>
          <span class="advantage__description"> Работая с нами, вы сэкономите свой бюджет и получите качественный
            результат за приемлемые сроки </span>
        </div>
        <div class="advantage">
          <i class="advantage__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#money-bag"></use>
            </svg>
          </i>
          <span class="advantage__title"> Получение прибыли </span>
          <span class="advantage__description">Грамотно сделанный проект будет приносить вам прибыль в самые короткие
            сроки, благодаря слаженной работе нашей команды</span>
        </div>
        <div class="advantage">
          <i class="advantage__icon">
            <svg>
              <use xlink:href="/img/sprite.svg#badge"></use>
            </svg>
          </i>
          <span class="advantage__title"> Качественная работа </span>
          <span class="advantage__description"> Профессиональный подход к каждому проекту и выполнению отдельных задач.
            Реализуем все идеи и сделаем Ваш бизнес доходным </span>
        </div>
      </div>
    </div>
  </div>
</section>
