<section class="services">
  <div class="services__content">
    <div class="services__card">
      <h2 class="services__card__title">Услуги</h2>
      <span class="services__card__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
        несколько абзацев</span>
      <a class="services__card__button" href="#">Узнать больше</a>
    </div>
    <ul class="services__list" id="services-list">
      <li class="services__list__item show">
        <div class="service">
          <h3 class="service__title">Создание сложных сайтов для бизнеса</h3>
          <span class="service__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
            несколько абзацев более менее осмысленного текста </span>
          <a class="service__button" href="#"><span>Заказать</span>
            <svg>
              <use xlink:href="/img/sprite.svg#arrow"></use>
            </svg></a>
        </div>
      </li>
      <li class="services__list__item">
        <div class="service">
          <h3 class="service__title">Сайты агрегаторы</h3>
          <span class="service__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
            несколько абзацев более менее осмысленного текста </span>
          <a class="service__button" href="#"><span>Заказать</span> <svg>
              <use xlink:href="/img/sprite.svg#arrow"></use>
            </svg></a>
        </div>
      </li>
      <li class="services__list__item">
        <div class="service">
          <h3 class="service__title">Система взаимодействия и администрирования</h3>
          <span class="service__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
            несколько абзацев более менее осмысленного текста </span>
          <a class="service__button" href="#">
            <span>Заказать</span>
            <svg>
              <use xlink:href="/img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="services__list__item">
        <div class="service">
          <h3 class="service__title">Клиентское и внутреннее CRM</h3>
          <span class="service__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
            несколько абзацев более менее осмысленного текста </span>
          <a class="service__button" href="#"><span>Заказать</span> <svg>
              <use xlink:href="/img/sprite.svg#arrow"></use>
            </svg></a>
        </div>
      </li>
    </ul>
    <div class="services__navigation">
      <div class="labels">
        <span class="label show"></span>
        <span class="label "></span>
        <span class="label "></span>
        <span class="label "></span>
      </div>
      <div class="buttons">
        <button id="button-prev" class="button prev"></button>
        <button id="button-next" class="button next"></button>
      </div>
    </div>
  </div>
</section>
