<section class="technologies">
  <div class="wrapper">
    <div class="technologies__content">
      <h2 class="technologies__title">Технологии</h2>
      <span class="technologies__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
        несколько абзацев более менее осмысленного </span>
      <a href="#" class="technologies__link">Узнать больше</a>
      <hr>
      <ul class="technologies__list">
        <li class="technologies__list__item">
          <img src="./img/laravel.png" srcset="./img/laravel.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/vue.png" srcset="./img/vue.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/webpack.png" srcset="./img/webpack.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/python.png" srcset="./img/python.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/nodejs.png" srcset="./img/nodejs.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/npm.png" srcset="./img/npm.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/ibm-cloud-data.png" srcset="./img/ibm-cloud-data.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/watson.png" srcset="./img/watson.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/mysql.png" srcset="./img/mysql.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/ibm.png" srcset="./img/ibm.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/websocket.png" srcset="./img/websocket.webp" alt="">
        </li>
        <li class="technologies__list__item">
          <img src="./img/ibm-cloud.png" srcset="./img/ibm-cloud.webp" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>
