<section class="training">
  <div class="training__content">
    <div class="training__card">
      <h1 class="training__card__title">ОБУЧЕНИЕ</h1>
      <span class="training__card__description">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
        несколько абзацев более менее осмысленного т </span>
      <a href="#" class="training__card__button">Оставить заявку</a>
      <div class="training__card__arrows">
        <button id="arrow-prev" class="arrow prev"></button>
        <button id="arrow-next" class="arrow next"></button>
      </div>
    </div>
    <ul class="training__list" id="services-list">
      <li class="training__list__item show">
        <svg>
          <use xlink:href="/img/sprite.svg#money-bag"></use>
        </svg>
        <h3>Трудоустройство</h3>
        <span>Проводим обучение WEB-программированию с последующим трудоустройством на работу</span>
      </li>
      <li class="training__list__item">
        <svg>
          <use xlink:href="/img/sprite.svg#badge"></use>
        </svg>
        <h3>Новые знания</h3>
        <span>Наши преподаватели научат вас новым профессиональным навыкам и практикам в области web-разработки</span>
      </li>
      <li class="training__list__item">
        <svg>
          <use xlink:href="/img/sprite.svg#dollar-tag"></use>
        </svg>
        <h3>Новая работа</h3>
        <span>По результатам проведения обучения, лучших мы пригласим к нам на постоянную работу с возможностью
          карьерного роста</span>
      </li>
      <li class="training__list__item">
        <svg>
          <use xlink:href="/img/sprite.svg#money-bag"></use>
        </svg>
        <h3>Стабильная зарплата</h3>
        <span>С нашей стороны мы обещаем вам хорошие условия труда, интересные проекты, дружную команду и высокую
          заработную плату</span>
      </li>
    </ul>
  </div>
</section>
